// .box-button{
//   display: flex;
//   flex-direction: row-reverse;
// }

thead
  th{
    padding: 0 ;
    margin: 0;

    div{
      margin-bottom: 0;
      margin-left: 10px;

      input[type=text]{

        border-style: none;
        box-shadow: none;

      }
    }

  }

tbody>tr:hover{
  background-color: #eeeeee ;
  cursor: pointer;
}


.sort>button{
  margin: 10px;
}
