<div *ngIf="!loading; else loader">
  <div class="row sort">
    <button type="button" class="waves-effect waves-light btn-small" (click)="sort()"><i
        class="material-icons right">arrow_downward</i>Сортувати</button>
    <button type="button" class="waves-effect waves-light btn-small" (click)="sort(false)"><i
        class="material-icons right">arrow_upward</i>Сортувати</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          <div>
            <input type="text" placeholder="Ім'я" [(ngModel)]="searchName">
          </div>
        </th>
        <th>
          <div>
            <input type="text" placeholder="Телефон" [(ngModel)]="searchPhone">
          </div>
        </th>
        <th>
          <div>
            <input type="text" placeholder="Група" [(ngModel)]="searchNameGroup">
          </div>
        </th>
        <th></th>
        <th></th>
      </tr>

    </thead>

    <tbody>
      <tr *ngFor="let record of records | filterAddressBook :searchName :searchPhone: searchNameGroup">
        <td (click)="onRouterRecord(record._id)">{{record.name}}</td>
        <td (click)="onRouterRecord(record._id)">{{record.phone}}</td>
        <td (click)="onRouterRecord(record._id)">{{record.name_group}}</td>
        <td class="box-button">
          <a [routerLink]="['/main/address-book', record._id]"
            class="btn-floating btn-small waves-effect waves-light grey"><i class="material-icons">loop</i></a>
        </td>
        <td class="box-button">
          <button type="button" class="btn-floating btn-small waves-effect waves-light grey"><i class="material-icons"
              (click)="removeAddressBook(record._id, record.name)">delete</i></button>
        </td>
      </tr>
      <tr *ngIf="!records.length">
        <td>Записи відсутні</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large orange lighten-2">
    <i [routerLink]="['/main/address-book/new']" class="large material-icons">add</i>
  </a>
</div>

<div #modal class="modal">
  <div class="modal-content">
    <h4>Видалити:</h4>
    <p>Ви дійсно хочете видалити - {{nameAddressBookRemove}}</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Відмінити</a>
    <button [disabled]="loading" class="modal-close waves-effect waves-red btn-flat" type="button"
      (click)="remove()">Видалити</button>
  </div>
</div>
