<ul class="sidenav sidenav-fixed a-sidenav">
  <li class="bold" *ngFor="let link of links" routerLinkActive="active"><a [routerLink]="['/main', link.url]"
      class="waves-effect waves-orange">{{link.name}}</a></li>
  <li class="bold last"><a class="waves-effect waves-orange"(click)="logout($event)">Выйти</a></li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>
