<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">Створити акаунт</span>

    <div class="input-field">
      <input id="surname" type="text" required formControlName="surname"
        [ngClass]="{'invalid':form.get('surname').invalid && form.get('surname').touched}">
      <label for="surname">Фамілія:</label>
      <span class="helper-text red-text" *ngIf="form.get('surname').invalid && form.get('surname').touched">
        Введіть будь ласка фамілію!
      </span>
    </div>

    <div class="input-field">
      <input id="name" type="text" required formControlName="name"
        [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}">
      <label for="name">Ім'я:</label>
      <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        Введіть будь ласка ім'я!
      </span>
    </div>

    <div class="input-field">
      <input id="patronymic" type="text" required formControlName="patronymic"
        [ngClass]="{'invalid':form.get('patronymic').invalid && form.get('patronymic').touched}">
      <label for="patronymic">По батькові:</label>
      <span class="helper-text red-text" *ngIf="form.get('patronymic').invalid && form.get('patronymic').touched">
        Введіть будь ласка по батькові!
      </span>
    </div>

    <div class="input-field">
      <input id="email" type="email" required formControlName="email"
        [ngClass]="{'invalid':form.get('email').invalid && form.get('email').touched}">
      <label for="email">Email:</label>

      <span class="helper-text red-text" *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email').errors['required']">
          Введіть будь ласка email!
        </span>
        <span *ngIf="form.get('email').errors['email']">
          Email є не коректний!
        </span>
      </span>
    </div>
    <div class="input-field">
      <input id="password" type="password" required formControlName="password"
        [ngClass]="{'invalid':form.get('password').invalid && form.get('password').touched}">
      <label for="password">Пароль:</label>
      <span class="helper-text red-text" *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password').errors['required']">
          Введіть будь ласка пароль!
        </span>
        <span
          *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Мінімальна кількість знаків - {{form.get('password').errors['minlength']['requiredLength']}}!
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button class="modal-action btn waves-effect" type="submit"
      [disabled]="form.invalid || form.disabled">Войти</button>
  </div>
</form>
