<div *ngIf="!loading; else loader">
  <div class="row">
    <div class="col s12 m12">
      <div class="card grey darken-1">

        <div class="row">
          <div class="col s8">
            <div class="card-content white-text">
              <span class="card-title"></span>
              <p><b>Фамілія: </b>{{record?.surname}}</p>
              <p><b>Ім'я: </b>{{record?.name}}</p>
              <p><b>По батькові: </b>{{record?.patronymic}}</p>
              <p><b>Номер телефону: </b>{{record?.phone}}</p>
              <p><b>Місто проживання: </b>{{record?.city}}</p>
              <p><b>День народження: </b>{{birthday}}</p>
              <p><b>Група: </b>{{record?.name_group}}</p>
              <p><b>Реєстратор: </b>{{record?.name_user}}</p>
              <p><b>Дата реєстрації: </b>{{dateCreatedRecord}}</p>
            </div>
          </div>
          <div class="col s4 box-img">
            <img class="responsive-img" style="height: 200px" [src]="record?.imageSrc" *ngIf="record?.imageSrc">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
