<div *ngIf="!loading; else loader">
  <div class="row">
    <div class="col s12 m12">
      <div class="card grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Користувач:</span>
          <p><b>Фамілія: </b>{{user.surname}}</p>
          <p><b>Ім'я: </b>{{user.name}}</p>
          <p><b>По батькові: </b>{{user.patronymic}}</p>
          <p><b>Пошта: </b>{{user.email}}</p>
          <p><b>Дата реєстрації: </b>{{dateRegister}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
