<div class="row">
  <form [formGroup]="form" class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" required formControlName="name"
          [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}">
        <label for="name">Назва групи</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
          Введіть будь ласка назву групи!
        </span>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light orange lighten-2 btn button"
        [disabled]="form.invalid || form.disabled">Створити</button>
      <a [routerLink]="['/main/group']" class="waves-effect waves-light grey btn button">Відмінити</a>
    </div>
  </form>
</div>
