<div *ngIf="!loading; else loader">
  <table>
    <thead>
      <tr>
        <th>Назва групи</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let group of groups">
        <td>{{group.name}}</td>
        <td class="box-button">
          <button type="button" class="btn-floating btn-small waves-effect waves-light grey"><i class="material-icons"
              (click)="removeGroup(group._id, group.name)">delete</i></button>
        </td>
      </tr>
      <tr *ngIf="!groups.length">
        <td>Групи відсутні</td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large orange lighten-2">
    <i [routerLink]="['/main/group/new']" class="large material-icons">add</i>
  </a>
</div>

<div #modal class="modal">
  <div class="modal-content">
    <h4>Видалити:</h4>
    <p>Ви дійсно хочете видалити - {{nameGroupRemove}}</p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Відмінити</a>
    <button [disabled]="loading" class="modal-close waves-effect waves-red btn-flat" type="button"
      (click)="remove()">Видалити</button>
  </div>
</div>
