<div class="row">
  <form [formGroup]="form" class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="surname" type="text" required formControlName="surname"
          [ngClass]="{'invalid':form.get('surname').invalid && form.get('surname').touched}">
        <label for="surname">Фамілія:</label>
        <span class="helper-text red-text" *ngIf="form.get('surname').invalid && form.get('surname').touched">
          Введіть будь ласка фамілію!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" required formControlName="name"
          [ngClass]="{'invalid':form.get('name').invalid && form.get('name').touched}">
        <label for="name">Ім'я:</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
          Введіть будь ласка ім'я!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="patronymic" type="text" required formControlName="patronymic"
          [ngClass]="{'invalid':form.get('patronymic').invalid && form.get('patronymic').touched}">
        <label for="patronymic">По батькові:</label>
        <span class="helper-text red-text" *ngIf="form.get('patronymic').invalid && form.get('patronymic').touched">
          Введіть будь ласка по батькові!
        </span>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s12">
        <input id="phone" type="text" required formControlName="phone"
          [ngClass]="{'invalid':form.get('phone').invalid && form.get('phone').touched}">
        <label for="phone">Телефон:</label>
        <span class="helper-text red-text" *ngIf="form.get('phone').invalid && form.get('phone').touched">
          Введіть будь ласка телефон!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="city" type="text" required formControlName="city"
          [ngClass]="{'invalid':form.get('city').invalid && form.get('city').touched}">
        <label for="city">Місто:</label>
        <span class="helper-text red-text" *ngIf="form.get('city').invalid && form.get('city').touched">
          Введіть будь ласка місто проживання!
        </span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="birthday">Дата народження:</label>
        <input autocomplete="off" id="birthday" type="text" class="datepicker" #birthday
          formControlName="birthday"
          [ngClass]="{'invalid': form.get('birthday').invalid && form.get('birthday').touched}">
        <span class="helper-text red-text" *ngIf="form.get('birthday').invalid && form.get('birthday').touched">
          Дата народження!
        </span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select class="browser-default" formControlName="group" #select>
          <option value="" disabled selected>Групи:</option>
          <option [value]="group._id" *ngFor="let group of groups">{{group.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <input type="file" class="dn" #inputImage (change)="onFileUpload($event)">
      <button class="waves-effect waves-light btn orange lighten-2 mb2" type="button" (click)="triggerClick()"
        [disabled]="form.disabled">
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>
    <div class="row">
      <div class="col s12 ">
        <img class="responsive-img" style="height: 200px" [src]="imagePreview" *ngIf="imagePreview">
      </div>
    </div>


    <div class="row">
      <button type="submit" class="waves-effect waves-light orange lighten-2 btn button"
        [disabled]="form.invalid || form.disabled">Створити</button>
      <a [routerLink]="['/main/address-book']" class="waves-effect waves-light grey btn button">Відмінити</a>
    </div>
  </form>
</div>
