<nav>
  <div class="nav-wrapper grey darken-1">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngFor="let link of links" routerLinkActive="active">
        <a [routerLink]="['/auth', link.url]">{{link.name}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
